h1{
  color:red;
   }
body{
  background-color="https://b-ssl.duitang.com/uploads/item/201901/30/20190130085720_sgarg.thumb.700_0.jpg";
  width:960px;
  margin-left:auto;
  margin-right:auto;
  border-width:2px;
  border-style:solid;
  border-color:gray;
  border-radius:5px; 
}
p{
  color:white;
}
