h1{
  color:red;
}
body{
  background:http://img2.a0bi.com/upload/ttq/20150103/1420271976629.jpg;
  }
p{
  color:purple;
}
body { 
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  border-width: 1px;
  border-style: solid;
  border-color: gray;
  border-radius: 5px; 
}
